<?xml version="1.0"?>
<!--
    @category   CRM4Ecommerce
    @package    CRM4Ecommerce_AdminStartupPage
    @author     Philip Nguyen <philip@crm4ecommerce.com>
    @link       http://crm4ecommerce.com
-->
<config>
    <tabs>
        <crm4ecommerce translate="label">
            <label>CRM4Ecommerce Extensions</label>
            <sort_order>1</sort_order>
        </crm4ecommerce>
    </tabs>
    <sections>
        <crm4ecommerce_adminstartuppage translate="label">
            <class>separator-top</class>
            <label>Admin Startup Page</label>
            <tab>crm4ecommerce</tab>
            <frontend_type>text</frontend_type>
            <sort_order>0</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label comment">
                    <comment><![CDATA[<div class="box"><p>See documentation and support for <a target="_blank" href="http://www.crm4ecommerce.com/magento-admin-startup-page.html"><b>Magento Admin Startup Page</b></a></p><p>This extenstion is one of products is powered by <a target="_blank" href="http://www.crm4ecommerce.com"><b>CRM4Ecommerce.COM</b></a>.</p></div>]]></comment>
                    <label>Serial Key Information</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <status translate="label comment">
                            <label>Module Status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>crmcore/option_moduleStatus</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                        </status>
                        <serial translate="label comment">
                            <label>Serial Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Please input your purchased serial key to run module <b><a style="text-decoration: none;">Magento Admin Startup Page</a></b>. If you have no serial key, please <a target="_blank" href="http://www.crm4ecommerce.com/magento-admin-startup-page.html">contact with us</a> to buy.]]></comment>
                        </serial>
                        <serial_infor translate="label">
                            <label>Serial Information</label>
                            <frontend_type>label</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </serial_infor>
                        <start_date translate="label">
                            <label>Start Date</label>
                            <frontend_type>label</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </start_date>
                        <expire_date translate="label">
                            <label>Expire Date</label>
                            <frontend_type>label</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </expire_date>
                    </fields>
                </general>
                
                <settings translate="label">
                    <label>Module Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <admin_ruoter_key translate="label comment">
                            <label>Admin Router Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Magento default value is <b>admin</b>.]]></comment>
                        </admin_ruoter_key>
                    </fields>
                </settings>
            </groups>
        </crm4ecommerce_adminstartuppage>
    </sections>
</config>
