<?xml version="1.0"?>
<config>

    <modules>
        <Interactone_Fixedshipping>
            <version>1.0.3</version>
        </Interactone_Fixedshipping>
    </modules>

    <global>
        <helpers>
            <interactone_fixedshipping>
                <class>Interactone_Fixedshipping_Helper</class>
            </interactone_fixedshipping>
        </helpers>
        <blocks>
            <interactone_fixedshipping>
                <class>Interactone_Fixedshipping_Block</class>
            </interactone_fixedshipping>
            <adminhtml>
                <rewrite>
                    <promo_quote_edit_tab_actions>Interactone_Fixedshipping_Block_Adminhtml_Promo_Quote_Edit_Tab_Actions</promo_quote_edit_tab_actions>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <interactone_fixedshipping>
                <class>Interactone_Fixedshipping_Model</class>
            </interactone_fixedshipping>
            <sales>
                <rewrite>
                    <quote_address>Interactone_Fixedshipping_Model_Quote_Address</quote_address>
                </rewrite>
            </sales>
            <salesrule>
                <rewrite>
                    <validator>Interactone_Fixedshipping_Model_Validator</validator>
                    <quote_freeshipping>Interactone_Fixedshipping_Model_Quote_Freeshipping</quote_freeshipping>
                </rewrite>
            </salesrule>
            <shipping>
                <rewrite>
                    <carrier_flatrate>Interactone_Fixedshipping_Model_Carrier_Flatrate</carrier_flatrate>
                </rewrite>
            </shipping>
            <usa>
                <rewrite>
                    <shipping_carrier_ups>Interactone_Fixedshipping_Model_Carrier_Ups</shipping_carrier_ups>
                    <shipping_carrier_usps>Interactone_Fixedshipping_Model_Carrier_Usps</shipping_carrier_usps>
                    <shipping_carrier_fedex>Interactone_Fixedshipping_Model_Carrier_Fedex</shipping_carrier_fedex>
                </rewrite>
            </usa>
            <productmatrix_shipping>
                <rewrite>
                    <carrier_productmatrix>Interactone_Fixedshipping_Model_Carrier_Productmatrix</carrier_productmatrix>
                </rewrite>
            </productmatrix_shipping>
        </models>
        <resources>
            <interactone_fixedshipping_setup>
                <setup>
                    <module>Interactone_Fixedshipping</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </interactone_fixedshipping_setup>
        </resources>
    </global>
    <default>
        <interactone>
            <settings>
                <enabled>0</enabled>
                <flatrate>1</flatrate>
                <ups>0</ups>
                <usps>0</usps>
                <fedex>0</fedex>
                <productmatrix>0</productmatrix>
            </settings>
        </interactone>
    </default>
</config>