<?xml version="1.0"?>
<config>
    <modules>
        <Zeon_ProductOptionsJson>
            <version>0.1.0</version>
        </Zeon_ProductOptionsJson>
    </modules>
    <global>
        <helpers>
            <zeon_productoptionsjson>
                <class>Zeon_ProductOptionsJson_Helper</class>
            </zeon_productoptionsjson>
        </helpers>
        <resources>
            <zeon_productoptionsjson_setup>
                <setup>
                    <module>Zeon_ProductOptionsJson</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </zeon_productoptionsjson_setup>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <save_productoptions_json>
                        <type>singleton</type>
                        <class>Zeon_ProductOptionsJson_Model_Observer</class>
                        <method>saveProductOptionsJson</method>
                    </save_productoptions_json>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
</config>