<?xml version="1.0"?>
<config>
	<modules>
		<Extendware_EWBotBlocker>
			<version>1.0.7</version>
			<extendware>
	            <copyright_holder>extendware</copyright_holder>
	            <configure_url>adminhtml/ewbotblocker_config/index</configure_url>
            </extendware>
		</Extendware_EWBotBlocker>
	</modules>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<extendware_ewbotblocker after="Mage_Adminhtml">Extendware_EWBotBlocker</extendware_ewbotblocker>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
    <adminhtml>
    	<translate>
			<modules>
				<Extendware_EWBotBlocker>
					<files>
						<default>extendware/Extendware_EWBotBlocker.csv</default>
					</files>
				</Extendware_EWBotBlocker>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewbotblocker>
					<file>extendware/ewbotblocker.xml</file>
				</ewbotblocker>
			</updates>
		</layout>
		<routers></routers>
	</adminhtml>
	<frontend>
		<translate>
			<modules>
				<Extendware_EWBotBlocker>
					<files>
						<default>extendware/Extendware_EWBotBlocker.csv</default>
					</files>
				</Extendware_EWBotBlocker>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewbotblocker>
					<file>extendware/ewbotblocker.xml</file>
				</ewbotblocker>
			</updates>
		</layout>
		<routers>
			<ewbotblocker>
				<use>standard</use>
				<args>
					<module>Extendware_EWBotBlocker</module>
					<frontName>ewbotblocker</frontName>
				</args>
			</ewbotblocker>
        </routers>
        <events>
            <controller_front_send_response_before>
                <observers>
                    <extendware_ewbotblocker>
                        <class>ewbotblocker/observer_frontend</class>
                        <method>sendResponseBefore</method>
                    </extendware_ewbotblocker>
                </observers>
            </controller_front_send_response_before>
        </events>
    </frontend>
	<global>
		<models>
			<ewbotblocker>
				<class>Extendware_EWBotBlocker_Model</class>
				<resourceModel>ewbotblocker_resource</resourceModel>
			</ewbotblocker>
			<ewbotblocker_resource>
                <class>Extendware_EWBotBlocker_Model_Resource</class>
                <entities>
                	<bot>
                        <table>ewbotblocker_bot</table>
                    </bot>
                </entities>
            </ewbotblocker_resource>
		</models>
		<blocks>
			<ewbotblocker>
                <class>Extendware_EWBotBlocker_Block</class>
            </ewbotblocker>
		</blocks>
		<helpers>
			<ewbotblocker>
				<class>Extendware_EWBotBlocker_Helper</class>
			</ewbotblocker>
		</helpers>
		<resources>
			<ewbotblocker_setup>
				<setup>
					<module>Extendware_EWBotBlocker</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</ewbotblocker_setup>
			<ewbotblocker_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ewbotblocker_write>
            <ewbotblocker_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ewbotblocker_read>
		</resources>
		<events>
			<controller_front_init_before>
				<observers>
					<extendware_ewbotblocker>
						<type>singleton</type>
						<class>ewbotblocker/observer_frontend</class>
						<method>controllerFrontInitBefore</method>
					</extendware_ewbotblocker>
				</observers>
			</controller_front_init_before>
			<controller_front_init_routers>
				<observers>
					<ewbotblocker>
						<class>Extendware_EWBotBlocker_Model_Observer_Frontend</class>
						<method>initControllerRouters</method>
					</ewbotblocker>
				</observers>
			</controller_front_init_routers>
		</events>
		<template></template>
	</global>
	<input></input>
	<crontab>
        <jobs>
            <ewbotblocker_cleanupExpired>
                <!-- each 18 hours -->
                <schedule><cron_expr>45 */18 * * *</cron_expr></schedule>
                <run><model>ewbotblocker/observer_cronjob::cleanupExpired</model></run>
            </ewbotblocker_cleanupExpired>
        </jobs> 
    </crontab>
	<default>
		<ewbotblocker>
			<general>
				<enabled>1</enabled>
				<default_status>pending</default_status>
				<honeypot_form_enabled>1</honeypot_form_enabled>
				<honeypot_link_enabled>0</honeypot_link_enabled>
				<form_protection_enabled>0</form_protection_enabled>
				<form_protection_honeypotted_urls_enabled>1</form_protection_honeypotted_urls_enabled>
			</general>
			<advanced>
				<path_prefix>ewbb/</path_prefix>
				<only_post_enabled>1</only_post_enabled>
				<days_to_expiry>180</days_to_expiry>
				<excluded_form_ids>a:1:{s:18:"_1430489269951_951";a:1:{s:7:"form_id";s:17:"order_review_form";}}</excluded_form_ids>
			</advanced>
		</ewbotblocker>
	</default>
	<extendware></extendware>
</config>
