<?xml version="1.0"?>
<!-- 
/**
 * @category   Celigo
 * @package    Celigo_Connector
 * @author     Celigo Inc
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <Celigo_Connector>
            <version>1.0.2</version>
        </Celigo_Connector>
    </modules>
    <global>
		<helpers>
			<connector>
				<class>Celigo_Connector_Helper</class>
			</connector>
        </helpers>
        <blocks>
            <connector>
                <class>Celigo_Connector_Block</class>
            </connector>
			<adminhtml>
				<rewrite>
					<sales_order_grid>Celigo_Connector_Block_Sales_Order_Grid</sales_order_grid>
				</rewrite>
			</adminhtml>			
        </blocks>
        <models>
            <connector>
                <class>Celigo_Connector_Model</class>
            </connector>
            <catalog>
                <rewrite>
                    <product_api>Celigo_Connector_Model_Product_Api</product_api>
                </rewrite>
            </catalog>
            <sales>
                <rewrite>
                    <order_invoice_api>Celigo_Connector_Model_Invoice_Api</order_invoice_api>
                </rewrite>
            </sales>            
        </models>
		<!--<events>-->
            <!--<customer_save_after>-->
                <!--<observers>-->
                    <!--<connector_observer>-->
                        <!--<class>connector/observer</class>-->
                        <!--<method>customerSaveAfter</method>-->
                    <!--</connector_observer>-->
                <!--</observers>-->
            <!--</customer_save_after>-->
           <!--<checkout_submit_all_after>-->
                <!--<observers>-->
                    <!--<connector_observer>-->
                        <!--<class>connector/observer</class>-->
                        <!--<method>checkoutSubmitAllAfter</method>-->
                    <!--</connector_observer>-->
                <!--</observers>-->
            <!--</checkout_submit_all_after>-->
            <!--<sales_order_load_after>-->
                <!--<observers>-->
                    <!--<connector_sales>-->
                        <!--<class>connector/sales_order</class>-->
                        <!--<method>orderSaveBefore</method>-->
                    <!--</connector_sales>-->
                <!--</observers>-->
            <!--</sales_order_load_after>-->
            <!--<sales_order_save_after>-->
                <!--<observers>-->
                    <!--<connector_sales>-->
                        <!--<class>connector/sales_order</class>-->
                        <!--<method>orderSaveAfter</method>-->
                    <!--</connector_sales>-->
                <!--</observers>-->
            <!--</sales_order_save_after>-->
		<!--</events>-->
		<resources>
			<connector_setup> 
				<setup>
					<module>Celigo_Connector</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</connector_setup>
			<connector_write>
				<connection>
					<use>core_write</use>
				</connection>
			</connector_write>
			<connector_read>
				<connection>
					<use>core_read</use>
				</connection>
			</connector_read>
		</resources> 
    </global>
    <!--<frontend>-->
        <!--<events>-->
            <!--<customer_address_save_after>-->
                <!--<observers>-->
                    <!--<connector_observer>-->
                        <!--<class>connector/observer</class>-->
                        <!--<method>afterAddressSave</method>-->
                    <!--</connector_observer>-->
                <!--</observers>-->
            <!--</customer_address_save_after>-->
			<!--<checkout_onepage_controller_success_action>-->
                <!--<observers>-->
                    <!--<connector_observer>-->
                        <!--<class>connector/observer</class>-->
                        <!--<method>checkoutOnepageSuccussAction</method>-->
                    <!--</connector_observer>-->
                <!--</observers>-->
			<!--</checkout_onepage_controller_success_action>-->
			<!--<checkout_multishipping_controller_success_action>-->
                <!--<observers>-->
                    <!--<connector_observer>-->
                        <!--<class>connector/observer</class>-->
                        <!--<method>checkoutOnepageSuccussAction</method>-->
                    <!--</connector_observer>-->
                <!--</observers>-->
			<!--</checkout_multishipping_controller_success_action>-->
			<!--<sales_quote_payment_import_data_before>-->
                <!--<observers>-->
                    <!--<connector_observer>-->
                        <!--<class>connector/observer</class>-->
                        <!--<method>salesQuotePaymentImportDataBefore</method>-->
                    <!--</connector_observer>-->
                <!--</observers>-->
			<!--</sales_quote_payment_import_data_before>-->
        <!--</events>-->
    <!--</frontend>-->
    <adminhtml>
        <events>
			<!--<sales_quote_payment_import_data_before>-->
                <!--<observers>-->
                    <!--<connector_observer>-->
                        <!--<class>connector/observer</class>-->
                        <!--<method>salesQuotePaymentImportDataBefore</method>-->
                    <!--</connector_observer>-->
                <!--</observers>-->
			<!--</sales_quote_payment_import_data_before>-->
			<core_block_abstract_prepare_layout_before>
				<observers>
					<connector_core_block_abstract_prepare_layout_before>
						<class>connector/adminhtml_observer</class>
						<method>addMassAction</method>
					</connector_core_block_abstract_prepare_layout_before>
				</observers>
			</core_block_abstract_prepare_layout_before>
        </events>
    </adminhtml>
    <admin>
        <routers>
			<connector>
				<use>admin</use>
				<args>
					<module>Celigo_Connector</module>
					<frontName>connector</frontName>
				</args>
			</connector>
        </routers>
    </admin>
    <default>
        <connector>
            <magentoconnector>
                <active>0</active>
            </magentoconnector>
            <logsettings>
                <enabled>0</enabled>
                <filename>connector-error.log</filename>
            </logsettings>
			<othersettings>
                <customerflowid>MAGENTO_RT_CUSTOMER_IMPORT</customerflowid>
                <orderflowid>MAGENTO_RT_ORDER_IMPORT</orderflowid>
                <ordercancelflowid>MAGENTO_RT_ORDER_CANCELLATION_IMPORT</ordercancelflowid>
                <orderstatus>pending,processing</orderstatus>
			</othersettings>
			<cronsettings>
                <enabled>1</enabled>
                <frequency>0,30 * * * *</frequency>
			</cronsettings>
        </connector>
    </default>
    <crontab>
        <jobs>
            <push_orders_to_ns>
                <!--<schedule>
                    <cron_expr>0,30 * * * *</cron_expr>
                </schedule>-->
                <run>
                    <model>connector/cron::pushOrdersToNs</model>
                </run>
            </push_orders_to_ns>
        </jobs>
    </crontab>
</config>