<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * StoreFront Consulting Kount Magento Extension
 *
 * PHP version 5
 *
 * @category  SFC
 * @package   SFC_Kount
 * @copyright 2009-2015 StoreFront Consulting, Inc. All Rights Reserved.
 *
 */
-->
<config>
    <modules>
        <SFC_Kount>
            <version>7.0.1.2</version>
        </SFC_Kount>
    </modules>
    <global>
        <models>
            <kount>
                <class>SFC_Kount_Model</class>
            </kount>
            <paygate>
                <rewrite>
                    <authorizenet>SFC_Kount_Model_Payment_Method_Authorizenet</authorizenet>
                </rewrite>
            </paygate>
        </models>
        <blocks>
            <kount>
                <class>SFC_Kount_Block</class>
            </kount>
            <adminhtml>
                <rewrite>
                    <sales_order_view>SFC_Kount_Block_Adminhtml_Sales_Order_View</sales_order_view>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <kount>
                <class>SFC_Kount_Helper</class>
            </kount>
        </helpers>
        <resources>
            <kount_setup>
                <setup>
                    <module>SFC_Kount</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </kount_setup>
            <kount_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </kount_write>
            <kount_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </kount_read>
        </resources>
        <rewrite>
            <sfc_kount_standard_redirect>
                <from><![CDATA[#^/paypal/standard/redirect/#]]></from>
                <to>/kount/paypalstandard/redirect/</to>
            </sfc_kount_standard_redirect>
            <sfc_kount_standard_cancel>
                <from><![CDATA[#^/paypal/standard/cancel/#]]></from>
                <to>/kount/paypalstandard/cancel/</to>
            </sfc_kount_standard_cancel>
            <sfc_kount_standard_success>
                <from><![CDATA[#^/paypal/standard/success/#]]></from>
                <to>/kount/paypalstandard/success/</to>
            </sfc_kount_standard_success>
        </rewrite>
        <events>
            <!--
            <sales_order_payment_place_start>
                <observers>
                    <kount_observer>
                        <type>singleton</type>
                        <class>SFC_Kount_Model_Observer</class>
                        <method>orderPaymentPlaceStart</method>
                    </kount_observer>
                </observers>
            </sales_order_payment_place_start>
            <sales_model_service_quote_submit_success>
                <observers>
                    <kount_observer>
                        <type>singleton</type>
                        <class>SFC_Kount_Model_Observer</class>
                        <method>orderServiceQuoteSubmitSuccess</method>
                    </kount_observer>
                </observers>
            </sales_model_service_quote_submit_success>
            <sales_model_service_quote_submit_failure>
                <observers>
                    <kount_observer>
                        <type>singleton</type>
                        <class>SFC_Kount_Model_Observer</class>
                        <method>orderServiceQuoteSubmitFailure</method>
                    </kount_observer>
                </observers>
            </sales_model_service_quote_submit_failure>
            <sales_order_place_after>
                <observers>
                    <kount_observer>
                        <type>singleton</type>
                        <class>SFC_Kount_Model_Observer</class>
                        <method>orderPlacedAfter</method>
                    </kount_observer>
                </observers>
            </sales_order_place_after>
            -->
            <sales_model_service_quote_submit_failure>
                <observers>
                    <kount_observer>
                        <type>singleton</type>
                        <class>SFC_Kount_Model_Observer</class>
                        <method>onSalesOrderServiceQuoteSubmitFailure</method>
                    </kount_observer>
                </observers>
            </sales_model_service_quote_submit_failure>
            <sales_order_payment_place_start>
                <observers>
                    <kount_observer>
                        <type>singleton</type>
                        <class>SFC_Kount_Model_Observer</class>
                        <method>onSalesOrderPaymentPlaceStart</method>
                    </kount_observer>
                </observers>
            </sales_order_payment_place_start>
            <sales_order_payment_place_end>
                <observers>
                    <kount_observer>
                        <type>singleton</type>
                        <class>SFC_Kount_Model_Observer</class>
                        <method>onSalesOrderPaymentPlaceEnd</method>
                    </kount_observer>
                </observers>
            </sales_order_payment_place_end>
            <checkout_onepage_controller_success_action>
                <observers>
                    <kount_observer>
                        <type>singleton</type>
                        <class>SFC_Kount_Model_Observer</class>
                        <method>onCheckoutSuccessAction</method>
                    </kount_observer>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_submit_all_after>
                <observers>
                    <kount_observer>
                        <type>singleton</type>
                        <class>SFC_Kount_Model_Observer</class>
                        <method>onCheckoutSubmitAllAfter</method>
                    </kount_observer>
                </observers>
            </checkout_submit_all_after>
        </events>
    </global>
    <frontend>
        <secure_url>
            <kount_ens>/kount/ens</kount_ens>
        </secure_url>
        <routers>
            <kount>
                <use>standard</use>
                <args>
                    <module>SFC_Kount</module>
                    <frontName>kount</frontName>
                </args>
            </kount>
        </routers>
        <layout>
            <updates>
                <kount>
                    <file>kount.xml</file>
                </kount>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <kount>
                <use>admin</use>
                <args>
                    <module>SFC_Kount</module>
                    <frontName>kount</frontName>
                </args>
            </kount>
        </routers>
    </admin>
    <default>
        <kount>
            <account>
                <enabled>0</enabled>
                <test>0</test>
            </account>
            <paymentmethods>
                <authorizenet>1</authorizenet>
                <authorizenet_directpost>1</authorizenet_directpost>
                <paypal_express>1</paypal_express>
                <paypal_direct>1</paypal_direct>
                <paypal_standard>1</paypal_standard>
                <verisign>1</verisign>
            </paymentmethods>
            <phonetoweb>
                <enable>0</enable>
            </phonetoweb>
            <log>
                <enable>1</enable>
            </log>
        </kount>
    </default>
    <adminhtml>
        <layout>
            <updates>
                <kount>
                    <file>kount.xml</file>
                </kount>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>0
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <kount>
                                            <title>Kount Integration</title>
                                        </kount>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
