<?xml version="1.0"?>
<config>
    <modules>
        <Phpcmsframework_CustomTabs>
            <version>0.1.0</version>
        </Phpcmsframework_CustomTabs>
    </modules>
    <global>
        <blocks>
            <customtabs>
                <class>Phpcmsframework_Customtabs_Block</class>
            </customtabs>
        </blocks>
        <models>
            <customtabs>
                <class>Phpcmsframework_Customtabs_Model</class>
            </customtabs>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <customtabs>
                    <file>customtabs.xml</file>
                </customtabs>
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <Phpcmsframework_save_product_data>
                        <type>singleton</type>
                        <class>customtabs/observer</class>
                        <method>saveProductTabData</method>
                    </Phpcmsframework_save_product_data>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
</config>