<?xml version="1.0"?>
<config>
    <modules>
        <Celigo_Celigoconnectorplus>
            <version>3.4.3.1</version>
        </Celigo_Celigoconnectorplus>
    </modules>
    <global>
        <models>
            <celigoconnectorplus>
                <class>Celigo_Celigoconnectorplus_Model</class>
            </celigoconnectorplus>
        </models>
		<events>
            <order_cancel_after>
                <observers>
                    <ordercancel_observer>
                        <class>celigoconnectorplus/observer</class>
                        <method>orderCancelAfter</method>
                    </ordercancel_observer>
                </observers>
            </order_cancel_after>
		</events>
        <resources>
            <celigoconnectorplus_setup>
                <setup>
                    <module>Celigo_Celigoconnectorplus</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </celigoconnectorplus_setup>
            <celigoconnectorplus_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </celigoconnectorplus_write>
            <celigoconnectorplus_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </celigoconnectorplus_read>
        </resources>
        <helpers>
            <celigoconnectorplus>
                <class>Celigo_Celigoconnectorplus_Helper</class>
            </celigoconnectorplus>
        </helpers>
        <blocks>
            <celigoconnectorplus>
                <class>Celigo_Celigoconnectorplus_Block</class>
            </celigoconnectorplus>
        </blocks>
    </global>
    <frontend>
		<routers>
		  <celigomagentoconnectorplus>
			<use>standard</use>
			<args>
			  <module>Celigo_Celigoconnectorplus</module>
			  <frontName>celigomagentoconnectorplus</frontName>
			</args>
		  </celigomagentoconnectorplus>
		</routers>
        <enterprise>
            <websiterestriction>
                <full_action_names>
                    <generic>
                        <celigomagentoconnectorplus_async_orderCancelImport/>
                    </generic>
                </full_action_names>
            </websiterestriction>
        </enterprise>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <celigoconnectorplus after="Mage_Adminhtml">Celigo_Celigoconnectorplus_Adminhtml</celigoconnectorplus>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
	<default>
		<payment>
			<netsuite>
				<active>1</active>
				<model>celigoconnectorplus/paymentmethod</model>
				<order_status>pending</order_status>
				<title>Netsuite</title>
			</netsuite>
		</payment>
		<carriers>
			<customshipping>
				<active>1</active>
				<title>Custom Shipping</title>
				<model>celigoconnectorplus/carrier_shippingmethod</model>
			</customshipping>
		</carriers>
        <celigoconnector>
			<othersettings>
                <ordercancelflowid>MAGENTO_RT_ORDER_CANCELLATION_IMPORT</ordercancelflowid>
                <batchordercancelflowid>MAGENTO_RT_ORDER_CANCELLATION_IMPORT</batchordercancelflowid>
			</othersettings>
        </celigoconnector>
	</default>
	<crontab>
        <jobs>
            <push_cancelled_orders_to_ns>
                <run>
                    <model>celigoconnectorplus/cron::pushCancelledOrdersToNs</model>
                </run>
            </push_cancelled_orders_to_ns>
        </jobs>
    </crontab>
</config>