<?xml version="1.0"?>
<config>
	  <sections>
		<ftpphotouploader  translate="label" module="ftpphotouploader">
			<label>Photo Picker FTP Uploader</label>
			<tab>personalize1</tab>
			<frontend_type>text</frontend_type>
			<sort_order>0</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
				<groups>
			      	<general translate="label">
				  		<label>General</label>
					  	<frontend_type>text</frontend_type>
					  	<sort_order>0</sort_order>
					  	<show_in_default>1</show_in_default>
					  	<show_in_website>1</show_in_website>
					  	<show_in_store>1</show_in_store>
			       		<fields>
							<ftp_images translate="label">
						        <label>Days Interval to Check and Upload the Order Images</label>
						        <frontend_type>text</frontend_type>
						        <sort_order>50</sort_order>
						        <show_in_default>1</show_in_default>
						        <show_in_website>1</show_in_website>
						        <comment>Default value is -1, for yestarday and today</comment>
						    </ftp_images>
						</fields>
				   	</general>
				</groups>
		</ftpphotouploader>
	  </sections>
</config>
