<?xml version="1.0"?>
<config>
    <modules>
        <Zeon_Contactus>
            <version>0.1.0</version>
        </Zeon_Contactus>
    </modules>
    <frontend>
        <routers>
            <contactus>
                <use>standard</use>
                <args>
                    <module>Zeon_Contactus</module>
                    <frontName>contactus</frontName>
                </args>
            </contactus>
        </routers>
        <layout>
            <updates>
                <contactus>
                    <file>zeon/contactus.xml</file>
                </contactus>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <admincontactus>
                <use>admin</use>
                <args>
                    <module>Zeon_Contactus</module>
                    <frontName>admincontactus</frontName>
                </args>
            </admincontactus>
        </routers>
    </admin>
    <adminhtml>
<!--        <menu>
            <zextension>
                <children>
                    <contactus module="contactus">
                        <title>Contactus</title>
                        <sort_order>100</sort_order>
                        <action>admincontactus/adminhtml_contactus</action>
                    </contactus>
                </children>
            </zextension>
        </menu>-->
<!--        <acl>
            <resources>
                <admin>
                    <children>
                        <zextension translate="title" module="cms">
                            <title>zextension</title>
                            <sort_order>70</sort_order>
                            <children>
                                <contactus translate="title">
                                    <title>Contact us</title>
                                    <sort_order>100</sort_order>
                                </contactus>
                            </children>
                        </zextension>
                    </children>
                </admin>
            </resources>
        </acl>-->
        <layout>
            <updates>
                <contactus>
                    <file>zeon/contactus.xml</file>
                </contactus>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <contactus>
                <class>Zeon_Contactus_Model</class>
                <resourceModel>contactus_resource</resourceModel>
            </contactus>
            <contactus_resource>
                <class>Zeon_Contactus_Model_Resource</class>
                <entities>
                    <contactus>
                        <table>contactus</table>
                    </contactus>
                </entities>
            </contactus_resource>
        </models>
        <resources>
            <contactus_setup>
                <setup>
                    <module>Zeon_Contactus</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </contactus_setup>
            <contactus_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </contactus_write>
            <contactus_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </contactus_read>
        </resources>
        <blocks>
            <contactus>
                <class>Zeon_Contactus_Block</class>
            </contactus>
        </blocks>
        <helpers>
            <contactus>
                <class>Zeon_Contactus_Helper</class>
            </contactus>
        </helpers>
        <template>
            <email>
                <contactus_email_email_template translate="label" module="contactus">
                    <label>Contact Us Admin</label>
                    <file>contactus_admin.html</file>
                    <type>html</type>
                </contactus_email_email_template>
                <contactus_email_user_email_template translate="label" module="contactus">
                    <label>Contact Us User</label>
                    <file>contactus_user.html</file>
                    <type>html</type>
                </contactus_email_user_email_template>
            </email>
        </template>
    </global>
    <default>
        <contactus>
            <contactus>
                <enabled>1</enabled>
            </contactus>
            <email>
                <recipient_email><![CDATA[suhas.dhoke@zeonsolutions.com]]></recipient_email>
                <sender_email_identity>support</sender_email_identity>
                <email_template>contactus_email_email_template</email_template>
                <confirm>0</confirm>
                <user_email_template>contactus_email_user_email_template</user_email_template>
            </email>
        </contactus>
    </default>
</config>