<?xml version="1.0"?>
<config>
	  <sections>
		<getresponse  translate="label" module="getresponse">                    
			<label>Get Response</label>
			<tab>personalize1</tab>
			<frontend_type>text</frontend_type>
			<sort_order>0</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>            
				<groups>
			      	<general translate="label"> 
				  		<label>General</label>
					  	<frontend_type>text</frontend_type>
					  	<sort_order>0</sort_order>
					  	<show_in_default>1</show_in_default>
					  	<show_in_website>1</show_in_website>
					  	<show_in_store>1</show_in_store>
			       		<fields>

							<enable translate="label">
								<label>Enable Get Response API Integration</label>
								<frontend_type>select</frontend_type>
								<source_model>adminhtml/system_config_source_yesno</source_model>
								<sort_order>0</sort_order>
								<show_in_default>1</show_in_default>
								<show_in_website>1</show_in_website>
								<show_in_store>1</show_in_store>
							</enable>

							<campains translate="label">
								<label>Campains To Export Contacts: </label>
								<frontend_model>kwanso_getresponse_block_config_campaign</frontend_model>
								<backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
								<sort_order>10</sort_order>
								<show_in_default>1</show_in_default>
								<show_in_website>1</show_in_website>
								<show_in_store>0</show_in_store>
							</campains>

						</fields>
				   	</general>
				</groups>	
		</getresponse>
	  </sections>
</config>
