<?xml version="1.0"?>
<config>
    <global>
        <models>
            <sales>
                <rewrite>
                    <order_shipment_api>Zeon_Sales_Model_Order_Shipment_Api</order_shipment_api>
                    <order_shipment_api_v2>Zeon_Sales_Model_Order_Shipment_Api_V2</order_shipment_api_v2>
                </rewrite>
            </sales>
        </models>
        <models>
            <product>
                 <class>Company_Product_Model</class>
            </product>
        </models>
        <helpers>
            <sales>
                <rewrite>
                    <data>Zeon_Sales_Helper_Data</data>
                </rewrite>
            </sales>
        </helpers>
        <events>
            <sales_quote_add_item>
                <observers>
                  <zeon_sales_changeprice_observer>
                    <type>model</type>
                    <class>Zeon_Sales_Model_Observer</class>
                    <method>update_configigurable_price</method>
                  </zeon_sales_changeprice_observer>
                </observers>
            </sales_quote_add_item>
        
            <checkout_cart_product_add_after>
                <observers>
                  <zeon_reorder_changeprice_observer>
                    <type>model</type>
                    <class>Zeon_Sales_Model_Observer</class>
                    <method>checkoutCartProductAddAfter</method>
                  </zeon_reorder_changeprice_observer>
                </observers>
            </checkout_cart_product_add_after>
            <sales_convert_order_item_to_quote_item>
                <observers>
                    <zeon_reorder_changeprice_observer>
                        <type>model</type>
                        <class>Zeon_Sales_Model_Observer</class>
                        <method>checkoutCartProductAddAfter</method>
                    </zeon_reorder_changeprice_observer>
                </observers>
            </sales_convert_order_item_to_quote_item>
            <sales_order_invoice_pay>
                <observers>
                    <zeon_sales_changestatus_observer>
                        <class>Zeon_Sales_Model_Observer</class>
                        <method>preventOldStatus</method>
                    </zeon_sales_changestatus_observer>
                </observers>
            </sales_order_invoice_pay>
        </events>
    </global>
</config>

