<?xml version="1.0"?>
<config>
  <modules>
    <Kwanso_BannerUrl>
      <version>0.1.0</version>
    </Kwanso_BannerUrl>
  </modules>
  <global>
    <helpers>
      <bannerurl>
        <class>Kwanso_BannerUrl_Helper</class>
      </bannerurl>
    </helpers>
	<models>
	  <bannerurl>
		<class>Kwanso_BannerUrl_Model</class>
		<resourceModel>bannerurl_mysql4</resourceModel>
	  </bannerurl>
	</models>
	<resources>
	  <categoryattribute1476710068_setup>
		<setup>
		  <module>Kwanso_BannerUrl</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1476710068_setup>
	  <categoryattribute1476710068_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1476710068_write>
	  <categoryattribute1476710068_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1476710068_read>
	</resources>
  </global>
</config> 