<?xml version="1.0"?>
<config>
  <modules>
    <Cps_PhotopickerAttribute>
      <version>1.1.0</version>
    </Cps_PhotopickerAttribute>
  </modules>
  <global>
    <helpers>
      <photopickerattribute>
        <class>Cps_PhotopickerAttribute_Helper</class>
      </photopickerattribute>
    </helpers>
	<models>
	  <photopickerattribute>
		<class>Cps_PhotopickerAttribute_Model</class>
		<resourceModel>photopickerattribute_mysql4</resourceModel>
	  </photopickerattribute>
	</models>
	<resources>
	  <salesattribute1464960276_setup>
		<setup>
		  <module>Cps_PhotopickerAttribute</module>
		  <class>Mage_Sales_Model_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </salesattribute1464960276_setup>
	  <salesattribute1464960276_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </salesattribute1464960276_write>
	  <salesattribute1464960276_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </salesattribute1464960276_read>
	</resources>
  </global>
</config> 