<?xml version="1.0"?>
<config>
    <modules>
        <Zeon_Dropshiping>
            <version>0.1.0</version>
        </Zeon_Dropshiping>
    </modules>
    <global>
         <helpers>
             <dropshiping>
                 <class>Zeon_Dropshiping_Helper</class>
             </dropshiping>
         </helpers>
         <models>
            <dropshiping>
                <class>Zeon_Dropshiping_Model</class>
            </dropshiping>
        </models>
        <resources>
            <zeon_dropshiping_setup>
                <setup>
                    <module>Zeon_Dropshiping</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </zeon_dropshiping_setup>
        </resources>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <dropshiping_setting>
                                            <title>Dropshiping Setting</title>
                                            <sort_order>20</sort_order>
                                        </dropshiping_setting>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>