<?xml version="1.0"?>
<config>  
  <modules>
      <Magebird_CheckoutPersistence>
          <version>1.0.0</version>
      </Magebird_CheckoutPersistence>
  </modules>  
  <default>
  <checkout_persistence>
    <general>  
      <fields_ids>billing:firstname;billing:lastname;billing:company;billing:email;billing:street1;billing:street2;billing:city;billing:region_id;billing:postcode;billing:country_id;billing:telephone;billing:fax;shipping:firstname;shipping:lastname;shipping:company;shipping:street1;shipping:street2;shipping:city;shipping:region_id;shipping:postcode;shipping:country_id;shipping:telephone;shipping:fax;</fields_ids>
      <enable_checkoutpersistence>1</enable_checkoutpersistence>
      <storage_type>1</storage_type>
      <cookie_lifetime>365</cookie_lifetime> 
      <enable_checkoutpersistence>1</enable_checkoutpersistence>     
    </general>    
  </checkout_persistence>
  </default>                       
  <global>
        <helpers>
            <checkoutpersistence>
                <class>Magebird_CheckoutPersistence_Helper</class>
            </checkoutpersistence>
        </helpers> 
        <models>
            <checkoutpersistence>
                <class>Magebird_CheckoutPersistence_Model</class>
            </checkoutpersistence>                                                        
        </models>                          
  </global> 
  <frontend>
      <routers>
          <checkoutpersistence>
              <use>standard</use>
              <args>
                  <module>Magebird_CheckoutPersistence</module>
                  <frontName>checkoutpersistence</frontName>
              </args>
          </checkoutpersistence>
      </routers>    
      <layout>
          <updates>
              <testimonials>
                    <file>checkoutpersistence.xml</file>
              </testimonials>
          </updates>
      </layout>                           
  </frontend>  
  <adminhtml>
      <acl>
          <resources>
              <all>
                  <title>Allow Everything</title>
              </all>
              <admin>
                  <children>
                      <system>
                          <children>
                              <config>
                                  <children>
                                        <checkout_persistence translate="title" module="checkoutpersistence">
                                            <title>Checkout Persistence</title>
                                            <sort_order>10</sort_order>
                                        </checkout_persistence>
                                  </children>
                              </config>
                          </children>
                      </system>
                  </children>
              </admin>
          </resources>
      </acl>
  </adminhtml>                
</config>   