<?xml version="1.0"?>
<config>
    <modules>
        <Magalter_Config>
            <version>1.1.5</version>
        </Magalter_Config>
    </modules>
    <global>
        <blocks>
            <magalterconfig>
                <class>Magalter_Config_Block</class>
            </magalterconfig>
        </blocks>
        <helpers>
            <magalterconfig>
                <class>Magalter_Config_Helper</class>
            </magalterconfig>
        </helpers>
        <models>
            <magalterconfig>
                <class>Magalter_Config_Model</class>
                <resourceModel>magalterconfig_mysql4</resourceModel>
            </magalterconfig>
            <magalterconfig_mysql4>
                <class>Magalter_Config_Model_Mysql4</class>
                <entities>
                    <storage>
                        <table>magalter_config_storage</table>
                    </storage>
                </entities>
            </magalterconfig_mysql4>
        </models>
        <resources>
            <magalterconfig_setup>
                <setup>
                    <module>Magalter_Config</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magalterconfig_setup>
            <magalterconfig_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </magalterconfig_write>
            <magalterconfig_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </magalterconfig_read>
        </resources>
    </global>
    
    <adminhtml>
        <layout>
            <updates>
                <magalterconfig>
                    <file>magalter_config.xml</file>
                </magalterconfig>
            </updates>
        </layout>
         <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <magalterconfig>
                                            <title>Magalter Config Section</title>
                                        </magalterconfig>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>          
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <magalter_connect_to_webservice_event>
                        <type>singleton</type>
                        <class>magalterconfig/observer</class>
                        <method>connectToWebservice</method>
                    </magalter_connect_to_webservice_event>
                </observers>
            </controller_action_layout_generate_blocks_after>               
        </events>
    </adminhtml>   
     <default>
        <magalterconfig>             	 
            <configuration>
                <subscribe>1</subscribe>               
            </configuration>
        </magalterconfig>
   </default>
</config>