<?xml version="1.0"?>
<config>
    <modules>
        <Zeon_CatalogSearch>
            <version>1.0.0</version>
        </Zeon_CatalogSearch>
    </modules>
    <global>
        <blocks>
          <catalogsearch>
            <rewrite>
              <result>Zeon_CatalogSearch_Block_Result</result>
            </rewrite>
          </catalogsearch>
        </blocks>
    </global>
</config>
