<?xml version="1.0"?>
<config>
    <modules>
        <Magalter_Crossup>
            <version>1.0.5</version>
        </Magalter_Crossup>
    </modules> 
    <frontend>        
        <translate>
            <modules>
                <Magalter_Crossup>
                    <files>
                        <default>Magalter_Crossup.csv</default>
                    </files>
                </Magalter_Crossup>
            </modules>
        </translate>
        <routers>
            <magalter_crossup>
                <use>standard</use>
                <args>
                    <module>Magalter_Crossup</module>
                    <frontName>magalter_crossup</frontName>
                </args>
            </magalter_crossup>
        </routers>
        <layout>
            <updates>
                <magalter_crossup module="Magalter_Crossup">
                    <file>magalter_crossup.xml</file>
                </magalter_crossup>
            </updates>
        </layout>    
        <events>  
            
             <core_block_abstract_to_html_after>
                 <observers>
                    <magalter_crossup_abstract_block_after>
                        <class>magalter_crossup/observer</class>
                        <method>toHtmlAfter</method>
                    </magalter_crossup_abstract_block_after>
                </observers>         
            </core_block_abstract_to_html_after>
           
           <!--
            <catalog_product_get_final_price>
                <observers>
                    <magalter_crossup_preparefinalprice>
                        <class>magalter_crossup/observer</class>
                        <method>prepareFinalPrice</method>
                    </magalter_crossup_preparefinalprice>
                </observers>
            </catalog_product_get_final_price>
            
            <core_block_abstract_to_html_before>
                 <observers>
                    <magalter_crossup_abstract_block_before>
                        <class>magalter_crossup/observer</class>
                        <method>toHtmlBefore</method>
                    </magalter_crossup_abstract_block_before>
                </observers>         
            </core_block_abstract_to_html_before>
        
            <catalog_product_type_prepare_cart_options>
                <observers>
                    <magalter_crossup_preparecart>
                        <class>magalter_crossup/observer</class>
                        <method>prepareProductForCart</method>
                    </magalter_crossup_preparecart>
                </observers>
            </catalog_product_type_prepare_cart_options>

            <catalog_product_type_prepare_full_options>
                <observers>
                    <magalter_crossup_preparecart>
                        <class>magalter_crossup/observer</class>
                        <method>prepareProductForCart</method>
                    </magalter_crossup_preparecart>
                </observers>
            </catalog_product_type_prepare_full_options>
            -->
            
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <magalter_crossup_admin before="Mage_Adminhtml">Magalter_Crossup_Adminhtml</magalter_crossup_admin>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>        
        <translate>
            <modules>
                <Magalter_Crossup>
                    <files>
                        <default>Magalter_Crossup.csv</default>
                    </files>
                </Magalter_Crossup>
            </modules>
        </translate>
        <layout>
            <updates>
                <magalter_crossup>
                    <file>magalter_crossup.xml</file>
                </magalter_crossup>
            </updates>
        </layout>        
    </adminhtml>
    <global>
        <blocks>
            <magalter_crossup>
                <class>Magalter_Crossup_Block</class>
            </magalter_crossup>
        </blocks>
        <helpers>
            <magalter_crossup>
                <class>Magalter_Crossup_Helper</class>
            </magalter_crossup>
        </helpers>
        <models>
            <magalter_crossup>
                <class>Magalter_Crossup_Model</class>
                <resourceModel>magalter_crossup_mysql4</resourceModel>
            </magalter_crossup>
            <magalter_crossup_mysql4>
                <class>Magalter_Crossup_Model_Mysql4</class>
                <entities>
                    <crossup>
                        <table>magalter_crossup</table>
                    </crossup>                   
                    <rule_actions>
                        <table>magalter_crossup_rule_actions</table>
                    </rule_actions>
                    <upsell_item>
                        <table>magalter_crossup_items</table>                        
                    </upsell_item>
                </entities>
            </magalter_crossup_mysql4>
        </models>        
        <resources>             
            <magalter_crossup_setup>
                <setup>
                    <module>Magalter_Crossup</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magalter_crossup_setup>            
            <magalter_crossup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </magalter_crossup_write>
            <magalter_crossup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </magalter_crossup_read>
        </resources>  
    </global>  
     <crontab>
        <jobs>
            <magaler_crossup_crontab_reindex>
                <schedule>
                    <cron_expr>5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>magalter_crossup/cron::reindexAll</model>
                </run>
            </magaler_crossup_crontab_reindex>
          </jobs>         
    </crontab>  
    <default>
        <magalter_crossup>             	 
            <configuration>
                <enable>1</enable> 
                <position><![CDATA[$$('.cart-collaterals')[0]]]></position>             
            </configuration>
        </magalter_crossup>
    </default>
</config>