<?xml version="1.0"?>
<!-- 
/**
 * @category   Celigo
 * @package    Celigo_Celigoconnector
 * @author     Celigo Inc
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <Celigo_Celigoconnector>
            <version>3.4.3.1</version>
        </Celigo_Celigoconnector>
    </modules>
    <global>
		<helpers>
			<celigoconnector>
				<class>Celigo_Celigoconnector_Helper</class>
			</celigoconnector>
        </helpers>
        <blocks>
            <celigoconnector>
                <class>Celigo_Celigoconnector_Block</class>
            </celigoconnector>
        </blocks>
        <models>
            <celigoconnector>
                <class>Celigo_Celigoconnector_Model</class>
            </celigoconnector>
            <catalog>
                <rewrite>
                    <product_api>Celigo_Celigoconnector_Model_Product_Api</product_api>
                </rewrite>
            </catalog>
            <sales>
                <rewrite>
                    <order_invoice_api>Celigo_Celigoconnector_Model_Invoice_Api</order_invoice_api>
                </rewrite>
            </sales>            
        </models>
		<resources>
			<celigoconnector_setup> 
				<setup>
					<module>Celigo_Celigoconnector</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</celigoconnector_setup>
			<celigoconnector_write>
				<connection>
					<use>core_write</use>
				</connection>
			</celigoconnector_write>
			<celigoconnector_read>
				<connection>
					<use>core_read</use>
				</connection>
			</celigoconnector_read>
		</resources> 
    </global>
    <frontend>
		<routers>
		  <celigomagentoconnector>
			<use>standard</use>
			<args>
			  <module>Celigo_Celigoconnector</module>
			  <frontName>celigomagentoconnector</frontName>
			</args>
		  </celigomagentoconnector>
		</routers>
        <events>
            <customer_save_commit_after>
                <observers>
                    <celigoconnector_customer_save_observer>
                        <class>celigoconnector/observer</class>
                        <method>customerSaveAfter</method>
                    </celigoconnector_customer_save_observer>
                </observers>
            </customer_save_commit_after>
            <customer_address_save_commit_after>
                <observers>
                    <celigoconnector_customer_address_save_observer>
                        <class>celigoconnector/observer</class>
                        <method>afterAddressSaveAfter</method>
                    </celigoconnector_customer_address_save_observer>
                </observers>
            </customer_address_save_commit_after>
			<checkout_onepage_controller_success_action>
                <observers>
                    <celigoconnector_checkout_onepage_observer>
                        <class>celigoconnector/observer</class>
                        <method>checkoutOnepageSuccussAction</method>
                    </celigoconnector_checkout_onepage_observer>
                </observers>
			</checkout_onepage_controller_success_action>
			<checkout_multishipping_controller_success_action>
                <observers>
                    <celigoconnector_checkout_multishipping_observer>
                        <class>celigoconnector/observer</class>
                        <method>checkoutOnepageSuccussAction</method>
                    </celigoconnector_checkout_multishipping_observer>
                </observers>
			</checkout_multishipping_controller_success_action>
			<sales_quote_payment_import_data_before>
                <observers>
                    <celigoconnector_quotepaymentimport_observer>
                        <class>celigoconnector/observer</class>
                        <method>salesQuotePaymentImportDataBefore</method>
                    </celigoconnector_quotepaymentimport_observer>
                </observers>
			</sales_quote_payment_import_data_before>
            <sales_order_save_commit_after>
                <observers>
                    <celigoconnector_sales_order_save_observer>
                        <class>celigoconnector/observer</class>
                        <method>paypalOrderSaveAfter</method>
                    </celigoconnector_sales_order_save_observer>
                </observers>
            </sales_order_save_commit_after>
        </events>
        <enterprise>
            <websiterestriction>
                <full_action_names>
                    <generic>
                        <celigomagentoconnector_async_orderImport/>
                        <celigomagentoconnector_async_customerImport/>
                    </generic>
                </full_action_names>
            </websiterestriction>
        </enterprise>
    </frontend>
    <adminhtml>
        <events>
            <customer_save_commit_after>
                <observers>
                    <celigoconnector_customer_save_observer_admin>
                        <class>celigoconnector/observer</class>
                        <method>customerSaveAfter</method>
                    </celigoconnector_customer_save_observer_admin>
                </observers>
            </customer_save_commit_after>
			<sales_quote_payment_import_data_before>
                <observers>
                    <celigoconnector_quotepaymentimport_observer_admin>
                        <class>celigoconnector/observer</class>
                        <method>salesQuotePaymentImportDataBefore</method>
                    </celigoconnector_quotepaymentimport_observer_admin>
                </observers>
			</sales_quote_payment_import_data_before>
            <sales_order_save_commit_after>
                <observers>
                    <celigoconnector_sales_order_save_observer_admin>
                        <class>celigoconnector/observer</class>
                        <method>orderSaveAfter</method>
                    </celigoconnector_sales_order_save_observer_admin>
                </observers>
            </sales_order_save_commit_after>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <celigoconnector after="Mage_Adminhtml">Celigo_Celigoconnector_Adminhtml</celigoconnector>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <celigoconnector>
            <magentoceligoconnector>
                <active>0</active>
            </magentoceligoconnector>
            <logsettings>
                <enabled>0</enabled>
                <filename>celigo-magento-connector.log</filename>
            </logsettings>
			<othersettings>
                <customerflowid>MAGENTO_RT_CUSTOMER_IMPORT</customerflowid>
                <orderflowid>MAGENTO_RT_ORDER_IMPORT</orderflowid>
                <batchorderflowid>MAGENTO_RT_ORDER_IMPORT</batchorderflowid>
                <ordercancelflowid>MAGENTO_RT_ORDER_CANCELLATION_IMPORT</ordercancelflowid>
                <orderstatus>pending,processing</orderstatus>
                <async_sleep_time>0</async_sleep_time>
                <import_customer_additional_addresses>0</import_customer_additional_addresses>
			</othersettings>
			<cronsettings>
                <enabled>1</enabled>
                <frequency>*/15 * * * *</frequency>
                <batchsize>0</batchsize>
			</cronsettings>
        </celigoconnector>
    </default>
    <crontab>
        <jobs>
            <push_orders_to_ns>
                <run>
                    <model>celigoconnector/cron::pushOrdersToNs</model>
                </run>
            </push_orders_to_ns>
        </jobs>
    </crontab>
</config>