<?xml version="1.0"?>
<!--
    @category   CRM4Ecommerce
    @package    CRM4Ecommerce_CRMCore
    @author     Philip Nguyen <philip@crm4ecommerce.com>
    @link       http://crm4ecommerce.com
-->
<config>
    <modules>
        <CRM4Ecommerce_CRMCore>
            <version>1.1.1</version>
            <published_date>2015-12-06</published_date>
        </CRM4Ecommerce_CRMCore>
    </modules>
    <frontend>
        <routers>
            <crmcore>
                <use>standard</use>
                <args>
                    <module>CRM4Ecommerce_CRMCore</module>
                    <frontName>crmcore</frontName>
                </args>
            </crmcore>
        </routers>
    </frontend>
    <admin>
        <routers>
            <crmcore>
                <use>admin</use>
                <args>
                    <module>CRM4Ecommerce_CRMCore</module>
                    <frontName>crmcore</frontName>
                </args>
            </crmcore>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <CRM4Ecommerce_CRMCore>
                    <files>
                        <default>CRM4Ecommerce_CRMCore.csv</default>
                    </files>
                </CRM4Ecommerce_CRMCore>
            </modules>
        </translate>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <crm4ecommerce_notification module="crmcore" translate="title">
                                            <title><![CDATA[CRM4Ecommerce Notification & Support Settings]]></title>
                                            <sort_order>0</sort_order>
                                        </crm4ecommerce_notification>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <admin_session_user_login_success>
                <observers>
                    <crm4ecommerce_crmcore_observer>
                        <class>crmcore/observer</class>
                        <method>adminUserAuthenticatedAfter</method>
                    </crm4ecommerce_crmcore_observer>
                </observers>
            </admin_session_user_login_success>
        </events>
    </adminhtml>   
    <global>
        <models>
            <core>
                <rewrite>
                    <email_template>CRM4Ecommerce_CRMCore_Model_Rewrite_Core_Email_Template</email_template>
                </rewrite>
            </core>
            <crmcore>
                <class>CRM4Ecommerce_CRMCore_Model</class>
                <resourceModel>core_mysql4</resourceModel>
            </crmcore>
            <crmcore_mysql4>
                <class>CRM4Ecommerce_CRMCore_Model_Mysql4</class>
                <entities>
                </entities>
            </crmcore_mysql4>
        </models>
        <resources>
            <crm4ecommerce_crmcore_setup>
                <setup>
                    <module>CRM4Ecommerce_CRMCore</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </crm4ecommerce_crmcore_setup>
            <crmcore_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </crmcore_write>
            <crmcore_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </crmcore_read>
        </resources>
        <blocks>
            <crmcore>
                <class>CRM4Ecommerce_CRMCore_Block</class>
            </crmcore>
        </blocks>
        <helpers>
            <crmcore>
                <class>CRM4Ecommerce_CRMCore_Helper</class>
            </crmcore>
        </helpers>
    </global>
    <default>
        <crm4ecommerce_notification>
            <settings>
                <status>1</status>
            </settings>
        </crm4ecommerce_notification>
    </default>
</config>