<?xml version="1.0"?>
<config>
   <modules>
      <Vtrio_OfflineOrder>
      	<version>0.1.0</version>    
   	</Vtrio_OfflineOrder>
   </modules> 
	<global>
     <models>
         <vtrio_offlineorder>
             <class>Vtrio_OfflineOrder_Model</class>
             <resourceModel>vtrio_offlineorder_resource</resourceModel>
         </vtrio_offlineorder>
     </models>
     <resources>
         <vtrio_offlineorder_setup>
             <setup>
                 <module>Vtrio_OfflineOrder</module>
             </setup>
         </vtrio_offlineorder_setup>
     </resources>
     <blocks>
         <vtrio_offlineorder>
             <class>Vtrio_OfflineOrder_Block</class>
         </vtrio_offlineorder>
			<adminhtml>
				<rewrite>
					 <sales_order_grid>Vtrio_OfflineOrder_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
				</rewrite>
			</adminhtml>
     </blocks>
     <helpers>
         <vtrio_offlineorder>
             <class>Vtrio_OfflineOrder_Helper</class>
         </vtrio_offlineorder>
     </helpers>
	</global>
	<admin>
		<routers>
		    <adminhtml>
		        <args>
		            <modules>
		                <vtrio_offlineorder before="Mage_Adminhtml">Vtrio_OfflineOrder_Adminhtml</vtrio_offlineorder>
		            </modules>
		        </args>
		    </adminhtml>
		</routers>
	</admin>	
	<adminhtml>
        <layout>
            <updates>
                <vtrio_offlineorder>
                    <file>vtrio_offlineorder.xml</file>
                </vtrio_offlineorder>                
            </updates>
        </layout>
			<events>
		     <admin_session_user_login_success>
		         <observers>
		             <vtrio_offlineorder_login>
		                 <class>Vtrio_OfflineOrder_Model_Observer</class> 
		                 <method>offlineuserRedirect</method>
		                 <type>singleton</type>
		             </vtrio_offlineorder_login>
		         </observers>
		     </admin_session_user_login_success>
            <adminhtml_block_html_before>
                <observers>
                    <cmspage>
                        <type>model</type>
                        <class>Vtrio_OfflineOrder_Model_Observer</class>
                        <method>offlineUserEditOrderButtonDisable</method>
                    </cmspage>
                </observers>
            </adminhtml_block_html_before>
				<sales_order_place_after>
					<observers>
						<vtrio_offlineorder_model_observer>
							<type>singleton</type>
							<class>Vtrio_OfflineOrder_Model_Observer</class>
							<method>sales_order_place_after</method>
						</vtrio_offlineorder_model_observer>
					</observers>
				</sales_order_place_after>	
		 </events>
    </adminhtml>
</config>
