<?xml version="1.0"?>
<config>
    <modules>
        <Zeon_Manageinventory>
            <version>1.0.1</version>
        </Zeon_Manageinventory>
    </modules>
    <!--<global>-->
        <!--<models>-->
            <!--<zeonmanageinventory>-->
                <!--<class>Zeon_Manageinventory_Model</class>-->
            <!--</zeonmanageinventory>-->
        <!--</models>-->
        <!--<events>-->
            <!--<catalog_product_edit_action>-->
                <!--<observers>-->
                    <!--<zeon_manageinventory>-->
                        <!--<class>zeon_manageinventory/observer</class>-->
                        <!--<method>lockProductInventoryAttributes</method>-->
                    <!--</zeon_manageinventory>-->
                <!--</observers>-->
            <!--</catalog_product_edit_action>-->
        <!--</events>-->
    <!--</global>-->
    <global>
        <models>
            <models>
                <zeonmanageinventory>
                    <class>Zeon_Manageinventory_Model</class>
                </zeonmanageinventory>
            </models>
        </models>
        <events>
            <catalog_product_edit_action>
                <observers>
                    <zeon_manageinventory_observer>
                        <type>singleton</type>
                        <class>Zeon_Manageinventory_Model_Observer</class>
                        <method>lockProductInventoryAttributes</method>
                    </zeon_manageinventory_observer>
                </observers>
            </catalog_product_edit_action>
            <catalog_product_save_before>
                <observers>
                    <zeon_manageinventory_observer>
                        <type>singleton</type>
                        <class>Zeon_Manageinventory_Model_Observer</class>
                        <method>catalogProductSaveBefore</method>
                    </zeon_manageinventory_observer>
                </observers>
            </catalog_product_save_before>
        </events>
    </global>
</config>