<?xml version="1.0" ?>
<config>
    <tabs>
        <mycustom_tab module="personalize" translate="label">
            <label>Personalize Module</label>
            <sort_order>100</sort_order>
        </mycustom_tab>
    </tabs>
    <sections>
        <personalize module="personalize" translate="label">
            <label>Artifi Settings</label>
            <sort_order>200</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <tab>mycustom_tab</tab>
            <groups>
                <mycustom_group translate="label">
                    <label>Artifi Module Settings</label>
                    <comment>Artifi Module Settings</comment>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <mycustom_field translate="label tooltip comment">
                            <label>Artifi JS</label>
                            <comment>Include Artifi JS Src</comment>
                            <tooltip>Add the Common Code (JS) to be included in module</tooltip>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_type>textarea</frontend_type>
                        </mycustom_field>
                    </fields>
                    <fields>
                        <mycustom_field1 translate="label tooltip comment">
                            <label>Website ID</label>
                            <comment>Include Artifi Website ID</comment>
                            <tooltip>Add the Website ID to be included in module</tooltip>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_type>text</frontend_type>
                        </mycustom_field1>

                        <artifi_domain>
                            <label>Artifi Domain URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </artifi_domain>
                        <artifi_upload_image>
                            <label>Artifi Upload Image URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </artifi_upload_image>
                        <artifi_web_api_client_key>
                            <label>Artifi Web API Client Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </artifi_web_api_client_key>
                    </fields>
                </mycustom_group>

                <poptropica_settings>
                    <label>Poptropica Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>11</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <poptropica_shop_url>
                            <label>Poptropica Shop URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </poptropica_shop_url>
                        <poptropica_image_url>
                            <label>Poptropica Image URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </poptropica_image_url>
                        <poptropica_password>
                            <label>Poptropica Password</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </poptropica_password>
                        <poptropica_ftp_host>
                            <label>Poptropica FTP Host</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </poptropica_ftp_host>
                        <poptropica_ftp_username>
                            <label>Poptropica FTP Username</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </poptropica_ftp_username>
                        <poptropica_ftp_password>
                            <label>Poptropica FTP Password</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </poptropica_ftp_password>
                        <poptropica_ftp_directory>
                            <label>Poptropica FTP Directory</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Path where to upload image.</comment>
                        </poptropica_ftp_directory>
                    </fields>
                </poptropica_settings>
            </groups>
        </personalize>
    </sections>
</config>