<?xml version="1.0"?>
<!--
/**
 * @category    Amazon
 * @package     Amazon_Login
 * @copyright   Copyright (c) 2014 Amazon.com
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
-->
<config>
    <modules>
        <Amazon_Login>
            <version>0.1.0</version>
        </Amazon_Login>
    </modules>
    <global>
        <blocks>
            <amazon_login>
                <class>Amazon_Login_Block</class>
            </amazon_login>
        </blocks>
        <models>
            <amazon_login>
                <class>Amazon_Login_Model</class>
                <resourceModel>login_mysql4</resourceModel>
            </amazon_login>
            <login_mysql4>
                <class>Amazon_Login_Model_Resource</class>
                <entities>
                    <login>
                        <table>amazon_login</table>
                    </login>
                </entities>
            </login_mysql4>
        </models>

        <resources>
            <login_setup>
                <setup>
                    <module>Amazon_Login</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </login_setup>
            <login_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </login_write>
            <login_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </login_read>
        </resources>

        <helpers>
            <amazon_login>
                <class>Amazon_Login_Helper</class>
            </amazon_login>
        </helpers>
    </global>



    <frontend>
        <secure_url>
            <amazon_login_verify>/amazon_login/customer/verify</amazon_login_verify>
        </secure_url>
        <routers>
            <amazon_login>
                <use>standard</use>
                <args>
                    <module>Amazon_Login</module>
                    <frontName>amazon_login</frontName>
                </args>
            </amazon_login>
        </routers>
        <layout>
            <updates>
                <amazon_login>
                    <file>amazon_login.xml</file>
                </amazon_login>
            </updates>
        </layout>
    </frontend>

    <default>
        <amazon_login>
            <settings>
                <enabled>1</enabled>
                <popup>1</popup>
                <button_type>LwA</button_type>
                <button_color>Gold</button_color>
                <button_size>medium</button_size>
            </settings>
        </amazon_login>
    </default>

</config>
