<?xml version="1.0"?>
<!--
/**
 * Login with Amazon
 *
 * @category    Amazon
 * @package     Amazon_Login
 * @copyright   Copyright (c) 2014 Amazon.com
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
-->
<config>
  <sections>
    <amazon_login translate="label">
      <label>Login with Amazon</label>
      <tab>customer</tab>
      <frontend_type>text</frontend_type>
      <sort_order>1000</sort_order>
      <show_in_default>1</show_in_default>
      <show_in_website>1</show_in_website>
      <show_in_store>1</show_in_store>

      <groups>
        <settings translate="label">
          <label>Settings</label>
          <frontend_type>text</frontend_type>
          <sort_order>100</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
            <comment>
            <![CDATA[

                    <a href="http://login.amazon.com/" target="_blank"><img src="http://g-ecx.images-amazon.com/images/G/01/lwa/common/images/lwa_dev_logo._V371482133_.png" /></a>
                    <br/>
                    <strong>Setup</strong>
                    <ol style="list-style:inside decimal;">
                      <li>Access your client credentials by registering a new application through <a href="https://sellercentral.amazon.com/" target="_blank">Amazon Seller Central</a>.
                      <li>Whitelist your domain under "Allowed JavaScript Origins."
                      <li>Under General->Web, enable "Use Secure URLs in Frontend." (HTTPS is required.)
                      <li>Amazon Payments (Login and Pay) is configured under Sales->Payment Methods.
                    </ol>


                    <div style="clear:both;"></div>
            ]]>
            </comment>
          <fields>

            <enabled translate="label">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <backend_model>amazon_login/system_config_backend_enabled</backend_model>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </enabled>

            <client_id translate="label">
                <label>Client ID</label>
                <frontend_type>text</frontend_type>
                <sort_order>20</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>1</show_in_store>
            </client_id>

            <client_secret translate="label">
                <label>Client Secret</label>
                <frontend_type>text</frontend_type>
                <sort_order>30</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>1</show_in_store>
            </client_secret>

            <popup translate="label">
              <label>Pop-up</label>
              <comment><model>amazon_login/system_config_backend_popupcomment</model></comment>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>40</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </popup>

            <heading_button translate="label">
                <label>Button Style</label>
                <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                <sort_order>70</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>0</show_in_store>
            </heading_button>

            <button_type translate="label">
                <label>Button Label</label>
                <frontend_type>select</frontend_type>
                <source_model>amazon_login/system_config_source_buttontype</source_model>
                <sort_order>71</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>1</show_in_store>
            </button_type>

            <button_color translate="label">
                <label>Button Color</label>
                <frontend_type>select</frontend_type>
                <source_model>amazon_login/system_config_source_buttoncolor</source_model>
                <sort_order>72</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>1</show_in_store>
            </button_color>

            <button_size translate="label">
                <label>Button Size</label>
                <frontend_type>select</frontend_type>
                <source_model>amazon_login/system_config_source_buttonsize</source_model>
                <sort_order>73</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>1</show_in_store>
            </button_size>

            <heading_advanced translate="label">
                <label>Advanced</label>
                <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                <sort_order>110</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
            </heading_advanced>

            <additional_scope translate="label">
              <label>Additional Access Scope</label>
              <comment>
                <![CDATA[Optional access scope strings during login.]]>
              </comment>
              <frontend_type>text</frontend_type>
              <sort_order>120</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </additional_scope>

          </fields>
        </settings>
      </groups>

    </amazon_login>
  </sections>
</config>