<?xml version="1.0"?>
<config>
    <modules> 
        <Magalter_Lib>    
            <version>1.0.1</version>  
        </Magalter_Lib>
    </modules>
    <frontend>   
        <layout>
            <updates>
                <magalter_lib>
                    <file>magalter_lib.xml</file>
                </magalter_lib>
            </updates>
        </layout>    
    </frontend>
    <global>  
        <helpers>
            <magalter_lib>
                <class>Magalter_Lib_Helper</class>
            </magalter_lib>
        </helpers>
        <models>
            <magalter_lib>
                <class>Magalter_Lib_Model</class>
            </magalter_lib>
        </models> 
    </global>
     <default>
        <magalter_effects>    
            <effects>
                <effect>1</effect>
                <duration>0.3</duration>
                <interactive>1</interactive>            
            </effects>               
        </magalter_effects>
    </default>
</config>