<?xml version="1.0"?>
<config>
	<modules>
		<CPS_PhotoPicker>
			<version>0.1.0</version>
		</CPS_PhotoPicker>
	</modules>
	<global>
		<fieldsets>
			<sales_convert_quote>
				<cps_submission_id>
					<to_order>*</to_order>
				</cps_submission_id>
			</sales_convert_quote>
			<sales_convert_order>
				<cps_submission_id>
					<to_quote>*</to_quote>
				</cps_submission_id>
			</sales_convert_order>
		</fieldsets>
		<resources>
			<photo_picker_setup>
				<setup>
					<module>CPS_PhotoPicker</module>
					<class>Mage_Sales_Model_Mysql4_Setup</class>
				</setup>
			</photo_picker_setup>
		</resources>
    <events>
      <checkout_cart_product_add_after>
           <observers>
                <CPS_PhotoPicker_checkout_cart_product_add_after>
                     <type>model</type>
                     <class>CPS_PhotoPicker_Model_Observer</class>
                     <method>checkoutCartProductAddAfter</method>
                </CPS_PhotoPicker_checkout_cart_product_add_after>
           </observers>
      </checkout_cart_product_add_after>
      <sales_order_save_after>
				<observers>
					<imageproducturl>
						<type>singleton</type>
						<class>CPS_PhotoPicker_Model_Observer</class>
						<method>addProductUrl</method>
					</imageproducturl>
				</observers>
			</sales_order_save_after>
      <controller_front_init_routers>
          <observers>
              <CPS_PhotoPicker_model_observer>
                  <type>singleton</type>
                  <class>CPS_PhotoPicker_Model_Observer</class>
                  <method>checkForConfigRequest</method>
              </CPS_PhotoPicker_model_observer>
          </observers>
      </controller_front_init_routers>
    </events>
	</global>
</config>