<?xml version="1.0"?>
<config>
    <modules>
        <Zeon_Bannerslider>
            <version>1.0.1</version>
        </Zeon_Bannerslider>
    </modules>
    <frontend>
        <routers>
            <bannerslider>
                <use>standard</use>
                <args>
                    <module>Zeon_Bannerslider</module>
                    <frontName>bannerslider</frontName>
                </args>
            </bannerslider>
        </routers>
        <layout>
            <updates>
                <bannerslider>
                    <file>zeon/bannerslider.xml</file>
                </bannerslider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <bannerslideradmin>
                <use>admin</use>
                <args>
                    <module>Zeon_Bannerslider</module>
                    <frontName>bannerslideradmin</frontName>
                </args>
            </bannerslideradmin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <bannerslider>
                    <file>zeon/bannerslider.xml</file>
                </bannerslider>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <bannerslider>
                <class>Zeon_Bannerslider_Model</class>
                <resourceModel>bannerslider_resource</resourceModel>
            </bannerslider>
            <bannerslider_resource>
                <class>Zeon_Bannerslider_Model_Resource</class>
                <entities>
                    <banner>
                        <table>bannerslider_banner</table>
                    </banner>
                    <bannerstores>
                        <table>bannerslider_banner_stores</table>
                    </bannerstores>
                </entities>
            </bannerslider_resource>
        </models>
        <resources>
            <zeon_bannerslider_setup>
                <setup>
                    <module>Zeon_Bannerslider</module>
                    <class>Zeon_Bannerslider_Model_Resource_Setup</class>
                </setup>
            </zeon_bannerslider_setup>
        </resources>
        <blocks>
            <bannerslider>
                <class>Zeon_Bannerslider_Block</class>
            </bannerslider>
        </blocks>
        <helpers>
            <bannerslider>
                <class>Zeon_Bannerslider_Helper</class>
            </bannerslider>
        </helpers>
    </global>

    <default>
        <bannerslider>
            <general>
                <enable>1</enable>
                <interval>5000</interval>
            </general>
        </bannerslider>
    </default>
</config>