<?xml version="1.0"?>
<config>
    <modules>
        <Celigo_Connectorplus>
            <version>1.0.2</version>
        </Celigo_Connectorplus>
    </modules>
    <global>
        <models>
            <connectorplus>
                <class>Celigo_Connectorplus_Model</class>
            </connectorplus>
        </models>
		<events>
            <order_cancel_after>
                <observers>
                    <ordercancel_observer>
                        <class>connectorplus/observer</class>
                        <method>orderCancelAfter</method>
                    </ordercancel_observer>
                </observers>
            </order_cancel_after>
		</events>
        <resources>
            <connectorplus_setup>
                <setup>
                    <module>Celigo_Connectorplus</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </connectorplus_setup>
            <connectorplus_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </connectorplus_write>
            <connectorplus_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </connectorplus_read>
        </resources>
        <helpers>
            <connectorplus>
                <class>Celigo_Connectorplus_Helper</class>
            </connectorplus>
        </helpers>
    </global>
	
    <adminhtml>
        <events>
			<core_block_abstract_prepare_layout_before>
				<observers>
					<ordercancel_core_block_abstract_prepare_layout_before>
						<class>connectorplus/adminhtml_observer</class>
						<method>addMassAction</method>
					</ordercancel_core_block_abstract_prepare_layout_before>
				</observers>
			</core_block_abstract_prepare_layout_before>
        </events>
    </adminhtml>
    <admin>
        <routers>
			<connectorplus>
				<use>admin</use>
				<args>
					<module>Celigo_Connectorplus</module>
					<frontName>connectorplus</frontName>
				</args>
			</connectorplus>
        </routers>
    </admin>
	
	<default>
		<payment>
			<netsuite>
				<active>1</active>
				<model>connectorplus/paymentmethod</model>
				<order_status>pending</order_status>
				<title>Netsuite</title>
			</netsuite>
		</payment>
		<carriers>
			<customshipping>
				<active>1</active>
				<title>Custom Shipping</title>
				<model>connectorplus/carrier_shippingmethod</model>
			</customshipping>
		</carriers>
        <connector>
			<othersettings>
                <ordercancelflowid>MAGENTO_RT_ORDER_CANCELLATION_IMPORT</ordercancelflowid>
			</othersettings>
        </connector>
	</default>
</config>